---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Markdowns from '../components/Markdowns.astro';
import Footer from '../components/Footer.astro';
import Headers from '../components/Headers.astro';
const posts = await Astro.glob('../markdowns/*.md'); // returns an array of posts that live at ./src/pages/post/*.md
---

<Layout title="Brendan Adamski">
	<div class="header">
	
	</div>
	<main>
		<h1 id="home"><span class="text-gradient">Brendan Adamski</span></h1>
		<h2><span class="text-gradient">Computer Science Student in the Detroit Area</span></h2>

		<ul role="list" class="griddy">
			<a href="#resume">Resume</a>
			<a href="#about">Me</a>
			
			<a href="#exp">Skills</a>
			<a href="#proj">Projects</a>
			
		</ul>
		
		<div class="aboutme">
			<hr id="about">
		<h1 class="aboutme">About me</h1>
		<p class="aboutme" >
			Hi! my name is Brendan, and I am a Sophmore at Michigan State University! 
			<br><br> Lifelong Michigan resident in Plymouth, Michigan
			<br><br> I Enjoy travelling up north during my weekends and paddleboarding, wakeboarding, and playing pickleball

			<br><br> Plymouth High School Graduate, with some of my accomplishments being on the States Diving Team and earning the Key of Computer Science my senior year
			<br><br> Currently working as a lifeguard and developing side projects for fun and experience!
		
		</p>
		
		</div>
			


		<div class="Experience" id="exp">
			<hr>
			<h1>Skills</h1>
	
		</div>




		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Asro.js"
				body="I've built multiple functioning websites using astro.js and am extremely comfortable using it. In fact, this website is built using astro!"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Python"
				body="Used and developed experience in introductory Computer Science Classes. Projects outside of school were also built using Python"
			/>
			<Card
				href="https://astro.build/themes/"
				title="HTML/JS/CSS"
				body="HTML/CSS was the first Computer Languadhe I learned. Experience with Adobe dreamweaver & building sites from scratch!"
			/>
			<Card
				href="https://astro.build/chat/"
				title="And more!"
				body="I have been enrolled in Engineering classes for half a decade. Along the way I have learned 3D modeling (CAD), Assembly Language, and how to operate shop machinery"
			/>
			</ul>
			<hr>
			<h1 id="proj">Projects</h1>
			<ul  role="list" class="link-project-grid">
			{posts.slice(0).map((post) => (
				<Markdowns 
				title={post.frontmatter.title}
				image={post.frontmatter.image}
				description={post.frontmatter.description}
				/>	
			  ))}
		</ul>
		<hr>
		<resume id="resume">
			<h1 class="resumetxt">Resume</h1>
			<a href="Resume1.pdf" target="_blank"><button >Click here</button></a>

		</resume>
	</main>
</Layout>

<Footer>
<style>
	resume{
		position:relative;
	}
	resume button{
		color:rgb(0, 0, 0,.45);
		position:absolute;
		background-color: rgb(255, 255, 255,0);
		padding:1px;
		transition:1s;
		padding-top:-5px;
		border-radius:20px;
		
		border-width:5px;
		border-color:rgb(0, 0, 0,0);
		font-size:4vw;
		font-weight:900;
		right:30%;
		bottom:5%
		
	}
	resume button:hover{
		background-color: rgb(222, 222, 222,0.4);
		color:rgb(0, 0, 0,.3);
		transition:1s;
	}
	.header{
		opacity:1;
		transition:1s;
	}
	.header:hover{
		opacity:0;
		transition:1s;
	}
	html{
		scroll-behavior: smooth;
		background-image: "back.jpg";
	}
	body{
		background-image: "back.jpg";
	}
	main {
		margin: auto;
		padding: 1.5rem;
		margin-top: 3vw;
		max-width: 120ch;
	}

	hr{
		color: #235435;
		border: .2rem solid #235435;
		width: 50vw;
		margin-bottom: 5rem;
		margin-top: 5rem;
	}

	div.aboutme{
		padding-top: 6rem;
		
		display:inline;
		align-items: center;
		

	}

	div.aboutme:hover{
		color: rgb(28, 85, 24);
		text-decoration: dashed;
		font-size: 1.15rem;
	}

	h1.resumetxt{
		
		margin-top:-5rem;
	}
	h1.aboutme{
		
		font-size: 3rem;
		padding-top: 4vw;
		padding-left: 3vw;
		text-align: center;
		display:inline-block;
		vertical-align:top;
		
		text-align: center;
	}

	h1.aboutme:hover + p.aboutme{
		transition: 1s;
		color: rgb(47, 74, 46);
		font-size: 1.15rem;
		
	}
	p.aboutme{
		transition: 1s;
		padding-left: 5vw;
		width: 60%;
		word-wrap: break-word;
		font-size: 1.1rem;
		display:inline-block;
		justify-content: center;
		
	}

	h1 {
		text-align: center;
		transition: 1s;
		font-size: 11vw;
		font-weight: 800;
		margin: 0;
		color: rgb(195, 214, 194);
	}
	h2{
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.griddy{
		display:grid;
		text-align:center;
		justify-content:center;
		gap:1.5rem;
		grid-template-columns: repeat(auto-fit, minmax(0, .2fr));
		padding-top:3rem;

	}

	.griddy a{
		color:grey;
		font-size:1.2rem;
		text-decoration:none;
		font-weight:500;
	}
	.link-project-grid {
		display:grid;
		grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
		
		gap: 1rem;
		padding: 0;
	}
	.link-project-grid:hover {

	}
	.Markdowns:hover{
		background-color: red;
	}


	.article{
		margin: auto;
		padding: 1.5rem;
		max-width: 120ch;
	}
	posts {
		color:#235435;
		border: 5px solid;
		margin: 0 1rem 0 1rem;

		background-color: rgb(205, 255, 216);
		border-radius: 6px;
	}
	input {
		color: red;

	}
	input:active {
		color: rgb(0, 0, 0);
		
	}
	button{
		float:inline-end;
		width:fit-content;
	}


	.nextbutton{
		text-align: center;
		color: rgb(177, 177, 177);
		text-decoration: none;
		margin: 50%;
		font-size: 1rem;
		font-weight: 100;
		border: 1px solid rgb(176, 176, 176);
		padding: 3px;
		border-radius: 4px;

	}
</style>
