---
const {title, description, image} = Astro.props;
---

<html lang="en">

<li class="link-card">
	<a>
		<h2>
			- {title} -
		</h2>
		<img src={image}>
		<hr>
		<p>
			{description}
		</p>
	</a>
</li>


</html>

<style>
    li {
        transition: 1s;
		
    }
	.link-card {
		display: flex;
        width: 80%;
		
		padding: 0.2rem;
		background-color: rgba(51, 102, 51, 0.367);
		border: .3rem double rgb(99, 99, 99);
        transition: 1s;

	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: .5rem 1rem;
		border-radius: 0.35rem;
		color: #043516;
		
		opacity: 0.8;
		display:inline-block;
		
		
		
	}
	h2 {
		margin: 0;
        text-align: center;
		font-size: 1.25rem;
        padding-bottom: 1rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #12331d;
	}
	
	.link-card:is(:hover, :focus-within) {
        
        opacity: 1;
		background-position: 0;
		background-color: hsla(0, 0%, 87%, 0.419);
        transition: 1s;
		border-color: rgb(72, 230, 69);
		box-shadow: 3px 3px rgba(67, 100, 70, 0.233);
		
	}
	.link-card:is(:hover, :focus-within) a {



	}
    img {
		width:100%;
		margin-left: 0%;
		border-radius: 10px;
		color: black;
	}


</style>